/*style for the title bar */
.titlebar {
  /*Background*/
  background-color: hsl(39, 100%, 50%);
  outline-color: hsl(17, 64%, 50%);
  outline-width: 3px;
  outline-style: solid;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: hsl(0, 0%, 0%);
  opacity: 0.9;
  margin: 0px 0px 0px 0px;
  padding: 7px 0px 7px 0px;

  /*Text*/
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: Garamond, Times, serif;
  font-size: 2.5em;
}

/*general body styles*/
body {
  background-color: hsl(204, 35%, 38%);
  font-family: Garamond, Times, serif;
  font-size: 100%;
  color: hsl(0, 0%, 100%);
}

/*general link styles*/
a {
  text-decoration: none;
  color: coral;
}

/*general table styles*/
table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr:hover {
  background-color: green;
}