/* this is a style for all header 1s */
h1 {
  /*Background*/
  background-color: hsl(39, 100%, 50%);
  outline-color: hsl(17, 64%, 50%);
  outline-width: 3px;
  outline-style: solid;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: hsl(0, 0%, 0%);
  opacity: 0.9;
  margin: -5px 0px 0px 0px;
  padding: 7px 0px 7px 0px;

  /*Text*/
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: Garamond, Times, serif;
  font-size: 3.1em;
}
  
body {
  background-color: hsl(204, 35%, 38%);
  font-size: 100%;
}