/*padding and other box elements will be contained within the height specified*/
* {
  box-sizing: border-box;
}

/*general body styles*/
body {
  background-color: hsl(204, 33%, 31%);
  font-family: Garamond, Times, serif;
  font-size: 100%;
  color: hsl(0, 0%, 100%);
}

/*general table styles*/
table {
  max-width: 100%;
  width:100%;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
tr:hover {
  background-color: rgb(80, 80, 80);
}

/*form stylings*/
input[type="text"]{
  background-color: white;
  font-size: 14px;
  border: 2px solid rgb(184, 184, 184);
  padding: 10px 16px;
  border-radius: 4px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}
input[id="faqSubmit"] {
  cursor: pointer;
  float: right;
}
input[type=text]:focus {
  border: 2px solid rgb(54, 54, 54);
  outline: none;
}

input[id="quizBegin"]{
  margin: auto;
  text-align: center;
  width: 20%;
  height: 20%;
  font-size: 90%;
}

form[id="quizStart"]{
  margin: auto;
  text-align: center;
}

input[id="submitQuiz"]{
  margin-top: 1em;
}

/*style for the title bar */
.titlebar {
  /*Background*/
  background-color: hsl(39, 76%, 45%);
  outline-color: hsl(17, 64%, 50%);
  outline-width: 3px;
  outline-style: solid;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: hsl(0, 0%, 0%);
  margin: 0px 0px 0px 0px;
  padding: 7px 0px 7px 0px;

  /*Text*/
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: Garamond, Times, serif;
  font-size: 2.5em;

  /*Position*/
  position: relative;
  top: 0;
}

/*general note styles*/
.note {
  background-color: hsla(39, 76%, 45%, 0.637);
  padding: 5px 5px 5px 5px;
  width: 100%;
  display: block;
}

/*chatbox styles*/
.chatbox {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 3em;
  color: black;
}
.chatbox:hover{
  cursor: pointer;
}

/*home return styles*/
.home {
  position: absolute;
  left: 10px;
  top: 8px;
}
.home:hover{
  cursor: pointer;
}

/*search field styles*/
.search input{
  margin-top: 5px;
  width: 50%;
  float: right;
}

/*card image styles*/
.cardimg{
  width:50%;
  height:71%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*logo styling*/
.logo {
  width: 50vw;
  height: 15.5vw;
}

/*navigation bar styles*/
.navigation {
  overflow: hidden;
  margin-top: 4px;
  background-color: rgb(63, 63, 63);
}
.navigation a {
  float: left;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: rgb(63, 63, 63);
}
.navdropdown {
  float: left;
  overflow: hidden;
}
.navdropdown .dropbutton{
  border: none;
  outline: none;
  background-color: rgb(63, 63, 63);
  color: white;
  border: none;
  padding: 14px 16px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  
}
.navigation a:hover, .navdropdown:hover .dropbutton{
  background-color: hsl(39, 76%, 45%);
}
.dropdown-info{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.dropdown-info a {
  float: none;
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: center;
  background-color: whitesmoke;
}
.dropdown-info a:hover{
  background-color: rgb(136, 136, 136);
}
.navdropdown:hover .dropdown-info{
  display: block;
}

/*styling for home icon*/
i[class="fas fa-house-user"] {
  color: white;
}
i[class="fas fa-house-user"]:hover{
  color: hsl(204, 35%, 38%);
}

/*generic float with percentage widnow allocation*/
.float25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.float75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.tooltip {
  position: absolute;
  padding-bottom: 5px;
}

.faqtip + .tooltip > .tooltip-inner {
  background-color: #7ba73d; 
  color: #FFFFFF; 
  border: 1px solid rgb(138, 1, 95); 
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;  
}

.endBar{
  position: relative;
  width: 600px; height: 770px;
}

/*
*Code adapted from w3schools 2-column example
*https://www.w3schools.com/css/css_website_layout.asp
*Cited November 20, 2021
*/
.column { /*Create two page columns for content*/
  float: left;
  width: 50%;
  padding: 10px;
}
.row::after{ /*Clear floats after column*/
  content: "";
  display: table;
  clear: both;
}

/*resive float windows amnd buttons when screen is less than 640px*/
@media screen and (max-width: 640px) {
  .float25, .float75, input[type="submit"] , iframe{
    width: 100%;
    margin-top: 0.5px;
  }
  .column {
    width: 100%;
  }
  .search input{
    width: 100%;
  }
  .titlebar{
    text-align: right;
    font-size: 2em;
    padding-right: 10px;
  }
  
}